$container-width: 1200px !default;
$grid-gutter:     10px !default;

// Brand colors
$brand-blue:       #4078c0 !default;
$brand-gray-light: #999    !default;
$brand-gray:       #767676 !default;
$brand-gray-dark:  #333    !default;
$brand-green:      #6cc644 !default;
$brand-red:        #bd2c00 !default;
$brand-orange:     #c9510c !default;
$brand-purple:     #6e5494 !default;

$brand-btn:         #f90 !default;
$brand-btn-light:   #ecb15a !default;
$brand-btn-dark:    #c2780b !default;
$brand-btn-light-x: #f69605 !default;

$brand-black: #3b3b3b;

// Font stack
// $body-font: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

// The base body size
// $body-font-size: 13px !default;
$body-font-size: 12px !default;
$base-font-size: 14px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// State indicators.
$status-open:     $brand-green;
$status-closed:   $brand-red;
$status-reverted: $status-closed;
$status-merged:   $brand-purple;
$status-renamed:  #fffa5d;
$status-pending:  #cea61b;

// Repository type colors
$repo-private-text: #a1882b;
$repo-private-bg:   #fff9ea;
$repo-private-icon: #e9dba5;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            #ddd !default;

$line-height-computed: 30px !default;
$line-height-base: 30px !default;

$img-path: '../img';
$img-bg: 'manage-bg.jpg';
$img-logo: "logo2.png";

// form width
$form-width: 350px;
